[2015-09-04 16:46] TheBigBear opened #40 "How do I run a 'dual value' or 'paired values' jinja2 for loop?"
How can I modify this jinja2 for loop so it includes ONE build number along with ONE version number in each iteration of the loop?

So in first run of the for loop it has version set to '5.18.4' AND build set to '1805'
in second run of the for loop it should have version set to '5.20.2' AND build set to '2002'
and in third run of the for loop it should have version set to '5.22.0' AND build set to

[2015-09-04 16:56] terminalmage commented on #40
Jinja2 lets you use Python data structures, so something like this should work:

[code]

[2015-09-04 17:00] TheBigBear commented on #40
@terminalmage thank you so much. appreciate you teaching me things.

[2015-09-04 17:01] TheBigBear commented on #40
this can be closed, as @terminalmage's help was what I was looking for.

[2015-09-04 17:01] #40 closed

[2015-09-04 17:05] terminalmage commented on #40
No problem, nice to return the favor after all the help you've been uncovering git/winrepo issues :smile:

[2015-11-13 06:23] rterbush opened #136 "Jinja syntax error: xming.sls"
Seeing this in my windows minion logs. Do the backslashes need to be escaped in the uninst path?

[code]

[2015-11-13 06:35] rterbush commented on #136
Sent PR #137

[2015-11-13 14:10] #136 closed

[2015-11-13 17:33] rterbush opened #138 "Program_Files undefined"
Seeing this in the logfile on minion:
[code]

[2015-11-13 17:41] rterbush commented on #138
PR #139 provided.

[2015-11-13 17:43] rterbush opened #140 "64bit ProgramFiles: question"
I'm seeing this convention in the package definitions and it seems backward to me... maybe I am not understanding properly where windows puts 64bit executables.

[code]

[2015-11-13 17:56] rterbush opened #141 "Python 2.7 install fails with following error: retcode: 3010"
Not sure if this is an issue with the package definition, or my target minion.

[code]

[2015-11-13 19:32] TheBigBear commented on #140
@rterbush ;-) yes I know what you mean. ;-) But unfortunately this is the "right" way up for MS Windows.

I can only guess that 64-bit came along as a bit of a surprise and they asked themselves what shall we call the 32-bit program files folder on our 64-bit system where we of course want the 64-bit programs to live under 'c:\Program Files\' ?

And came up with c:\Program Files (x86)\' to put 32-

[2015-11-13 19:37] TheBigBear commented on #141
@rterbush not sure. MS say that error 3010 is:
[code]
Do you know if the box is OK and had the software installed on it, but just needs a reboot now?

What message do you get if you try installing it again using salt after a reboot of the machine in question?

[2015-11-13 19:45] rterbush commented on #140
Just shoot me...

[2015-11-13 19:45] #140 closed

[2015-11-13 19:46] #138 closed

[2015-11-13 20:50] rterbush commented on #141
The issue is that with failhard: true, this stops the provisioning process for what I would not expect to be considered an ERROR. Warning, yes, but not an error. Again, not sure whose camp this falls in, but raising it here first.

Trying to reboot this one time after packages are installed that require a reboot.

[2015-11-18 16:15] johnccfm opened #142 "Git 2.6.3 fails to install correctly"
Git 2.6.3 (64 bit) installation fails on my Windows Server 2012R2 system according to Salt (although the software is actually installed).

Git's installer seems to be writing the uninstall key to the registry at:-

    HCKU\Software\Microsoft\Windows\CurrentVersion\Uninstall

The code in win_pkg.py only iterates:-

    HKLM\Software\Microsoft\Windows\CurrentVersion\Uninstall
    HKLM\Software\Wow6

[2015-11-18 19:52] TheBigBear commented on #142
@johnccfm this would appear to be related to packaging issues upstream. ;-) They chnaged parameters for the Inno installer and got it wrong and now got some 'side-effect'.

https://github.com/git-for-windows/git/issues/526
https://github.com/git-for-windows/build-extra/pull/86

I'd suggest to wait for the upstream fix. AFAIK the salt winrepo-ng installer does correctly detect 'user installs'  in o

[2015-11-19 09:15] johnccfm commented on #142
@twangboy I actually looked in vain before for a way to run a command as a user in Salt on Windows, to do per-user things. I'd be very surprised if Salt manages per-user installs. Software that installs in the user account only would be useless in Salt, because it would install in the SYSTEM account and not be available to any regular user.

[2015-11-19 09:31] johnccfm opened #144 "Allowing relocation of repo downloaded binaries"
Now that it's technically possible due to the Jinja templating, could we allow relocation of the downloaded binaries without having to fork the repo and maintain patches?

For example, lines like:

    installer: 'salt://win/repo-ng/cpu-z/cpu-z_1.71.1-setup-en.exe'

Could become:

    installer: 'salt://{{ salt["pillar.get"]("repo_binary_root", "win/repo-ng") }}/cpu-z/cpu-z_1.71.1-setup-en.exe'

I

[2015-11-19 13:21] TheBigBear commented on #144
@johnccfm not sure I immediately get what this would mean in practice, and what the consequences would be for the majority of the repo-ng consumers?

Could you please elaborate a bit more?

[2015-11-19 17:07] johnccfm commented on #144
The intention is that if you do nothing, nothing will change - the {{ }} part should default to /win/repo-ng which is the default path.

If like me you use a slightly different directory structure, or you want to put all your binary files somewhere else, you currently have to create your own fork (not a bad idea) and edit every .SLS file with a salt:// path in it, and maintain those changes going

[2015-11-19 18:56] twangboy commented on #142
@johnccfm I'm not sure it's possible without knowing the user's password, but I'm not hacker. There are registry issues to consider as well. It would be a mess... unless you knew the password and could actually log in as that user.

I did get runas to work for windows, but again it requires that you know the password for the user. It's also not available until the next release of salt which won't

[2015-11-19 19:05] twangboy commented on #144
I assume this is to save disk space on your master? What do you think @UtahDave?

[2015-11-20 13:46] TheBigBear commented on #144
@johnccfm is it really to do with saving disk space on the master? I thought/understood it was to have your own way (or your own directory actually) on the master where you saved your sls installers, basically a different place from where the project assumes they would be?

[2015-11-20 14:41] johnccfm commented on #144
It's not about saving space, for me at least. It's just about flexibility. I have my master set up like this:-

[code]

So to take JRE 8 as an example, the most likely path I'm going to have for the binary would not be:-

    installer: 'salt://win/repo-ng/jre8_x86/jre-8u60-windows-i586.exe'

but

   installer: 'salt://win/repo-ng/salt-winrepo-ng/jre8_x86/jre-8u60-windows-i586.exe'

That would mea

[2015-11-20 22:22] TheBigBear commented on #144
@johnccfm ok, the whole differentiation between 'x86' an 'x64' in sls files is mostly a pre 2015.8 release issue that never really actually worked pre Berryllium anyway.

Would it help you (all?) if we simply worked on rationalising  the 'salt://' paths in the 'sls' files to

installer: 'salt://win/repo-ng/salt-winrepo-ng/jre8/jre-8u60-windows-i586.exe'

So that the binaries for both the 'x86' and

[2015-12-17 23:23] TheBigBear commented on #142
2.6.4 is released and works as expected.

[2015-12-17 23:23] #142 closed

[2015-12-27 13:56] gqgunhed commented on #144
@TheBigBear, @johnccfm,
I think this would be a very nice idea to separate the installer binaries from the installation definitions. This would allow e.g. to have the installer directory be visible to me (as admin) as a file share to easily drop the files from my Windows machine into it without messing around with the salt states directory.
And logic (aka sls  files) and content (aka binaries) is

[2016-01-15 02:22] ArthurMeneau opened #246 "NSClient++ installer URLs broken, like with salt-winrepo"
This is almost identical to issue saltstack/salt-winrepo#586 and pull request saltstack/salt-winrepo#587

I will provide a pull request for this shortly.

[2016-01-15 02:55] b18 commented on #246
Didn't see this issue, but just submitted a pull request for this on the winrepo-ng repo, so disregard if you submit one as well.

[2016-01-15 17:33] ameneau-xetus commented on #246
Thanks @b18,

@TheBigBear looks like this issue was resolved with pull request #247

[2016-02-01 23:18] TheBigBear opened #265 "new 2015.8.4 is on repo , shall I change the salt-winrepo and salt-winrepo-ng sls files?"
@twangboy @jfindlay I see the new 2015.8.4 is uploaded to the saltstack repo in https://repo.saltstack.com/windows/ is it 'OK' for me to change the salt-winrepo and salt-winrepo-ng salt-minion sls files now?

Or should I wait it out a little longer?
Until the 2015.8.4 release is official and the ubuntu/debian/rhel etc pkgs are out as well?

[2016-02-01 23:41] jfindlay commented on #265
@TheBigBear, the official release announcement should be tomorrow morning, so let's wait until then.

[2016-02-02 22:10] TheBigBear commented on #265
@jfindlay OK, I have now gone ahead and update the winrepo and winrepo-ng. this issue can now be closed.

[2016-02-02 22:10] #265 closed

[2016-03-03 17:50] TheBigBear opened #301 "naming of windows salt-minion? (saltstack.minion -> salt-minion)"
@UtahDave @twangboy I see that in the process of updating from the old winrepo to the new winrepo-ng jinja2 templating enabled repo the windows salt-minion's package name got changed from salt-minion to saltstack.minion, BUT the repos sls file name stayed as salt-minion.sls

I would quite like to bring some consistency back and rename the pkg back to salt-minion. The odd name saltstack.minion does

[2016-03-03 17:54] TheBigBear commented on #301
Just looked at the git history, and actually it was me that accidentally renamed it back when it was a WIP branch of the old winrepo.

https://github.com/TheBigBear/salt-winrepo/commit/71346c15c8fb931191b5e1eef8922231b7f13736#diff-7c7e747afbfb5f190b866de7975bad81

[2016-03-09 19:37] TravisPaul opened #332 "Chrome reports failure after installation"
Installed chrome via salt and it reported failure, logged into server and it was installed correctly.  Opened chrome, set as default browser and still reports failure:

init.sls:
[code]

highstate result:
[code]

Using module:
[code]

[code]

Version info:
[code]

[2016-03-10 22:17] TravisPaul opened #335 "Seeking advice on how to handle installers that do not set DisplayVersion in the registry"
I have an sls that installs CouchDB:

[code]

 but after installing, salt is unaware which version was installed:

[code]

I finally tracked down the issue and it is because the CouchDB installer doesn't set the ```DisplayVersion``` registry entry needed by salt.  I have worked around this issue by using the windows registry state:

[code]

But using this workaround, a highstate always reports a f

[2016-03-10 22:25] TravisPaul opened #336 "How to best handle custom installation paths"
I need to install most packages (aside from salt itself) into the path ```D:\Program Files``` to achieve this I have used a custom grain called ```program_files``` in my package sls files:

[code]

But using the grain in this fashion requires me to fork any packages that I want to change and prevents me from sharing these packages upstream.  Is there a better way to override the installation path?

[2016-03-10 22:29] twangboy commented on #335
I believe this has been addressed with https://github.com/saltstack/salt/pull/31420. Expect to see it in the next 2015.8 release which I believe is 2015.8.8. Basically, if it doesn't find a version number in the registry, it will try to find it in the software definition matching off the full name.

[2016-03-10 22:40] TravisPaul opened #337 "Hash distribution files (feature request)"
In some other package building frameworks such as PKGBUILD and Pkgsrc, distribution files can be checked against a hash to ensure the file that is being installed is identical to the file used during package creation by the packager.  This seems even more valuable to salt-winrepo-ng as we are installing binaries from many other untrusted locations.

I propose something like the following
[code]

O

[2016-03-10 22:41] TravisPaul commented on #335
@twangboy Thanks! I'll give that a try when its released and re-open if I still have issues.

[2016-03-10 22:41] #335 closed

[2016-03-10 22:43] twangboy commented on #332
@TravisPaul This issue has been addressed with the following PRs:
https://github.com/saltstack/salt/pull/31114 (2015.8.8)
https://github.com/saltstack/salt/pull/31420 (2016.3.0)

Full implementation will be in the first release of 2016.3 which is supposed to happen in the next month or so.

The problem is 2 fold. First, Google doesn't provide links to previous versions of Chrome. They provide one

[2016-03-10 22:49] TravisPaul commented on #332
@twangboy Thank you! I appreciate the detailed explanation. Having spent most of my week poking around the registry and peppering my minion's python files with log.debug statements your explanation actually makes sense  :smile:

[2016-03-10 22:49] #332 closed

[2016-03-11 18:58] m03 commented on #337
@TravisPaul, I added something like this in the develop Salt branch a couple of weeks ago. See the source_hash parameter here:

https://docs.saltstack.com/en/develop/topics/windows/windows-package-manager.html

https://github.com/saltstack/salt/blob/develop/salt/modules/win_pkg.py

[2016-03-11 20:02] TravisPaul commented on #337
Awesome! thank you.

[2016-03-11 20:02] #337 closed

[2016-03-21 18:56] VietTPham opened #344 "Why are 7zip stable in 7zip beta?"
I don't understand why "7zip_beta.sls" has version that are not clearly labeled as beta on there sourceforge page. https://sourceforge.net/projects/sevenzip/files/7-Zip/

[2016-03-21 21:28] rickh563 commented on #336
ZD-689

[2016-03-23 13:02] johnccfm commented on #144
Any chance of some movement on this? I've just rebuilt my salt masters, using a lot more standard setup. However, because I have two repos (the salt-ng one, and my own), the windows repo is in salt://win/repo-ng/salt-winrepo-ng even without me changing any of the locations. This means that just by having two git repos, the locations are all wrong.

I also still think that having the binaries in th

[2016-03-25 15:04] moebiuseye opened #350 "Using grains['locale_info']['defaultlanguage'] as a locale"
I'm thinking this is probably a good idea for package
that were translated in a very large number of languages, especialy GUI applications.

(I have to say I'm very frustrated that the only available
option is to install things in american english)

For packages that do not provide all translations,
I may systematicaly try something like this, for every sls file:

[code]

And then using that local

[2016-03-25 15:08] moebiuseye commented on #350
I've tested this with libreoffice in fr_FR for now, and it's working quite well.

[2016-03-27 13:41] moebiuseye commented on #246
Confirmed. This issue should be closed now.

[2016-03-29 22:25] grandmasterv opened #352 "Adobe Reader DC download links broken"
Hello!

It looks like the download locations for Adobe Reader DC have changed.

Old Broken Link
https://ardownload2.adobe.com/pub/adobe/reader/win/AcrobatDC/1501020059/AcroRdrDC1501020059_en_US.exe

New Working Link
https://admdownload.adobe.com/bin/live/readerdc_en_ha_install.exe

https://github.com/saltstack/salt-winrepo-ng/blob/master/adobereader-dc.sls

[2016-04-07 15:56] #246 closed

[2016-05-04 20:11] hrumph opened #373 "Adobe reader dc"
Hi all the adobe reader dc links are all dead (I asssume that's normal)
and there's a new one:
https://ardownload2.adobe.com/pub/adobe/reader/win/AcrobatDC/1501020060/AcroRdrDC1501020060_en_US.exe

I think that things just changed at adobe. The version you get isn't

2015.xxx.xxxxx

Instead it has type 15.xxx.xxxx

And explanation of the new versioning stuff is here:

http://www.adobe.com/devnet-d

[2016-05-04 20:18] hrumph commented on #352
@grandmasterv
The link
https://ardownload2.adobe.com/pub/adobe/reader/win/AcrobatDC/1501020060/AcroRdrDC1501020060_en_US.exe

is working. It looks like adobe is purposefully making it's old links dead.

Note that when you use the new link the version of adobe reader dc you get
is 15.xxx.xxxxx
and NOT 2015.xxx.xxxx

This is because adobe has started a new versioning system and the 15.xxx.xxxx versi

[2016-05-04 20:22] TheBigBear commented on #373
@hrumph you up to doing the new ones and should we then also include the new one and put its URLs in the old sls file?
You up to making up those two files for us?

[2016-05-04 20:56] hrumph commented on #373
@TheBigBear
sure I'll do a pull request very soon with the new proposed file if you like.
I dont think that the old file should have the new entry because of the way the versioning changed.
15.010.20060 is now the latest version but salt will think that its previous to all of the 2015
versions when it compares on version numbers, so we have to start fresh with a new file.

[2016-05-06 16:44] #373 closed

[2016-05-06 16:46] hrumph commented on #352
I'm closing this. It can be reopoenned if @grandmasterv is dissatisfied with the new merge.

[2016-05-07 23:03] grandmasterv commented on #352
Looks good thanks!

[2016-05-07 23:03] #352 closed

[2016-05-10 08:34] danielcb opened #398 "Add removal of out of date JRE versions to JRE8 installers?"
I would like to propose to add

`REMOVEOUTOFDATEJRES=1` (remove out of date JRE versions)
(and maybe `AUTO_UPDATE=0` (disable autoupdate) also)

to the JRE8 states, since I think those are sane defaults for those installers (remove out of date for obvious reasons and auto update because we manage JRE via saltstack and this way we don't have any other tools interfering. Also jres auto_updater does

[2016-05-10 12:16] TheBigBear commented on #398
@danielcb yes, I think this is generally a very good idea. (but I need help to make it work for all)

I have been wondering for a while now, whether it is high time salt winrepo-ng now to start leveraging jinja2 templating power more and have both "sane" defaults and at the same time have ways to override those defaults using jinja2 variables and pillars.

so use things like set language of pkg to

[2016-05-16 19:46] UtahDave commented on #301
@TheBigBear did you end up reverting this name change?

[2016-05-16 19:48] TheBigBear commented on #301
@UtahDave yep, I did indeed, it is changed to 'salt-minion' as one would expect.

[2016-05-16 19:48] #301 closed

[2016-05-16 22:49] UtahDave commented on #144
@johnccfm can you put your binary installer files directly on the master's file system instead of putting them in your git repo?

[2016-05-17 19:52] javadevmtl opened #453 "Visual Studio 2010 Redistributeable install hangs."
Hi using 2015.8.8.2

I reported the issue here: https://groups.google.com/forum/#!topic/salt-users/Y3aeRDb4Rqs

Using salt on Ubuntu 14.04 to manage some Windows 2008 and 2012 servers.

Everything is setup and running correctly I managed to do some IIS stuff, I even installed firefox as per the docs. But when I run...

sudo salt '*' pkg.install ms-vcpp-2010-sp1-mfc-redist_x64

The command seems to

[2016-05-17 19:55] TheBigBear commented on #344
@VietTPham they used to be beta when added to winrepo,but the website has since re-classified the version numbers. The 'beta' version of the winrepo sls pkg is now gone.  Thanks for raising this.

[2016-05-17 19:55] #344 closed

[2016-05-17 20:29] twangboy commented on #453
@javadevmtl It's not really an error, it's either a timing or a registry refresh issue... it's looking for the software in the registry. If it doesn't find in after 10 tries, it throws this error... I believe this is fixed in 2016.3

[2016-05-17 20:49] TheBigBear commented on #453
@twangboy the 'n' flag is a mistake and at least this version of the MS redistributable installer does not support that flag. So I removed that from winrepo and winrepo-ng for both cpuarchs.
When I tested it here, it finished with a error 3010 (successful but machine needs restart. that is possibly the 'error' @javadevmtl is seeing.  (same as reported here https://github.com/saltstack/salt/issues/

[2016-05-17 21:02] TheBigBear commented on #398
@twangboy @jfindlay @UtahDave @terminalmage @eliasp it has been a full week with no progress or help, can somebody, maybe one of you folks, please help me and/or point me in the right direction, basically explaining the correct jinja and pillar lookup stanzas to implement the above https://github.com/saltstack/salt-winrepo-ng/issues/398#issuecomment-218139947  cleanly? I will then do the leg (or d

[2016-05-17 21:09] TheBigBear commented on #336
@rickh563 not sure what ZD-689 means, but this and similar winrepo-ng improvements should be possible without any changes required? Just using jinja2 power and syntax in combination with salt environments and pillar lookup properly, right?
other places would be here https://github.com/saltstack/salt-winrepo-ng/issues/398 and here https://github.com/saltstack/salt-winrepo-ng/issues/350 ?

[2016-05-17 21:14] TheBigBear commented on #398
also similar winrepo-ng usage and proper syntax input feedback is needed here https://github.com/saltstack/salt-winrepo-ng/issues/144 and here https://github.com/saltstack/salt-winrepo-ng/issues/350

[2016-05-17 21:36] twangboy commented on #336
@TheBigBear ZD numbers reference our internal tracking system for enterprise customers.

[2016-05-17 21:40] twangboy commented on #453
@TheBigBear Loren Gorden has submitted a PR addressing this issue.
https://github.com/saltstack/salt/pull/33321

[2016-05-18 01:18] morganwillcock commented on #453
I think this particular package also has a mistake in the full_name, I've submitted a PR.
#455

[2016-05-18 14:52] javadevmtl commented on #453
One more thing to add:

[code]

It doesn't think it's installed...

[2016-05-18 16:51] morganwillcock commented on #453
Have you updated today, to pick up the corrected name?
<pre>Microsoft Visual C++ 2010  x64 Redistributable - 10.0.40219</pre>
...there's a double space after 2010 which needs to be there.

You can confirm what is mismatched vs. not installed with `pkg.get_name_map`

[2016-05-18 17:26] javadevmtl commented on #453
Oh no I haven't pulled the latest repo... only what I applied to figure this issue.

[2016-05-18 18:51] TheBigBear commented on #453
@javadevmtl can you please confirm that we can close this issue now. I believe all the fixes for this pkg are now merged and up to date? thanks for taking the time to report this, muhc appreciated.

[2016-06-13 21:10] TheBigBear opened #487 "travis-ci new sls file setting "skip_urltest" is leading to yaml compilation error"
the new (and unofficial) setting 'skip_urltest' in sls file (e.g. duplicati.sls) leads to yaml compilation problem report. :-(

when running ```salt-run winrepo.genrepo``` on a 2016.3.0 master you get

[code]

@moebiuseye was kind enough to help me, a non-programmer, to get the travis-ci tests running again and in the process he 'invented' a new switch in the sls file that allows travis-ci to know

[2016-06-17 17:35] moebiuseye commented on #487
I'm taking the time to find the right solution to only check changing files.

Although I still think that all files should be checked for 404: We're looking for download links that no longer work. Testing for a 404 only when a change has been made makes no sense.

Another thing I'm working on is validating the advertised content type. Some of these links lead to
`text/plain` or `text/html` documen

[2016-06-17 17:44] TheBigBear commented on #487
@moebiuseye thanks for looking into this. yes i fully agree that all URLs should be checked for any 404s on a cron or schedule fashion once or twice a day,or even hourly. but when a committer wants to merge in a PR they only care about the URLs and any other modified content in the sls files being changed or committed, only the changes they have just added. And they want to commit those there and

[2016-06-18 10:10] moebiuseye commented on #487
I've been working on this a bit.

* The `--travis` flag makes this script skip on files that were not modified on the last commit.
* The `--cron` and `--debug` flags do nothing for now and produce the same behavior as before.

Test it and tell me what you think of it:

https://gist.github.com/moebiuseye/44455610563c648ac7efa48dcd85161e

[2016-06-18 14:34] moebiuseye commented on #487
This script is pretty much not working right now. Reposting soon.

[2016-06-18 14:47] moebiuseye commented on #487
I pushed the new working version (same link above)

[2016-06-21 18:01] TheBigBear commented on #487
@moebiuseye thanks for this. just a quick update to say that for the last 3 days I have been struggling to get any python code to run on any of my linux platforms. i have tried on centos 7 centos 6 and tonight on ubuntu 16.04, thinking I would get it finally started. But I ams till having issues with (different) importing python modules, ready for the script.

but I am running into a series of beg

[2016-06-23 12:22] moebiuseye commented on #487
Make sure you're using python 2 and not python 3.

You can place that flag on the `.travis.yml` file just like in this commit: https://github.com/moebiuseye/salt-winrepo-ng/commit/8c90e20001ea64d19462cc9a39d0fec71974cca3

[2016-06-23 18:39] TheBigBear commented on #487
@moebiuseye thanks that helped. Do you have any ideas why tihs fails after 30 seconds?

[my travis-ci fails within 30 secs](https://travis-ci.org/TheBigBear/salt-winrepo-ng)

something to do with git, obviously.
( But i did add ```pygit``` to the "requirements.txt" file and as far as I can tell that does get installed and has no issue? with the ```pygit``` missing it complains about not having any

[2016-06-23 18:48] moebiuseye commented on #487
Okay. Run it with the command `python2 ./.travis/tests.py --travis`. I just realized my shebang (the first line) of my script is completely wrong.

Patching this week-end.

[2016-06-23 19:04] moebiuseye commented on #487
It's `gitpython` not `pygit`.

[2016-06-23 19:49] TheBigBear commented on #487
@moebiuseye ok, i'll change to ```gitpython``` and see what happens. It is definitely 100% running ```python 2``` ```2.7.9``` to be precise.

[2016-06-23 20:49] TheBigBear commented on #487
@moebiuseye thanks, gitpython and NOT pygit was the solution, in this case. ;-)
[Travis-CI has gone green again! Thanks!](https://travis-ci.org/TheBigBear/salt-winrepo)

[2016-06-28 13:23] cournape opened #512 "vim installation requires GUI input"
While installing vim from `winrepo-ng` from the minion, I got a dialog asking whether I wanted to install gvim. I suspect that's what caused the salt apply to hang if I do it from the master.

AFAIK, the standard vim installer does not support unattended installation, but the one from the [cream project](https://sourceforge.net/projects/cream/files/Vim/7.4.1641/) does

[2016-08-09 17:40] alekseyl1992 opened #642 "Install dotnet: Unable to locate package dotnet"
For some reason I can't install `dontnet` package.
All other packages (git, npp, 7zip) installed properly.

I called:
sudo salt-run winrepo.update_git_repos
sudo salt '*7' pkg.refresh_db
which printed a big list of packages including dotnet:
c:\salt\var\cache\salt\minion\files\base\win\repo-ng\salt-winrepo-ng\dotnet.sls

this file actually exists on minion, but when I try to install it:
sudo salt

[2016-08-10 22:22] TheBigBear commented on #642
@alekseyl1992 thanks for reporting this.
Please refresh your git repo and try again. it should work, now.
And please confirm it now works for you, so I can close this issue. Thanks.

[2016-08-10 22:39] TheBigBear commented on #642
@lorengordon sorry I just changed the ```'.NET'``` sls pkg name to ```'dotnet'``` from ```'.NET'```.
So sorry, but I ad not noticed that you had used the pkg name ```'.NET'``` inside the ```'winrepo'``` ( + ```'winrepo-ng'``` ) ```'sls'``` file called ```'dotnet.sls'```  and ( ```'dotnet_x86.sls'``` )
all other pkgs were lowercased a year or more ago, sorry I had missed this one, when I merged the

[2016-08-10 23:29] twangboy commented on #642
sounds good to me

On Wed, Aug 10, 2016 at 4:39 PM, TheBigBear <notifications@github.com>
wrote:

--
*Shane Lee*
*Windows Platform Engineer*
Salt Stack, Inc.

[2016-08-11 10:54] alekseyl1992 commented on #642
@TheBigBear thanks, it works now

[2016-08-11 11:18] lorengordon commented on #642
@TheBigBear no worries. i use local copies of the winrepo package definitions anyway. i contributed them only in an attempt to be a good citizen. :) change them however you like.

[2016-08-12 14:41] alekseyl1992 opened #645 "Chocolatey as requisite in SLS"
My SLS file:

[code]

when I run highstate I get:

[code]

please note that:
1) chocolatey actually installs and works
2) it even returns:

[code]

3) but salt treats this as error:
`packages failed to install/update`

I tried both installing chocolatey via chocolatey.bootstrap or using SLS as stated above. Both times choco installed and worked just fine.

May be that's because it:
https://github.

[2016-08-12 17:35] TheBigBear commented on #645
@alekseyl1992 thanks for reporting this. I think I know what the issue is. It is a combination of factors, most likely.
I will look at this, as I am bale, but it might potentially take into beginning or even middle of September, sorry.

In a nutshell the winrepo sls files for chocolatey are VERY out of date. And I need to re-align things with the new chocolatey and how it installs itself and regis

[2016-09-07 17:07] damon-atkins opened #648 "Compile Issues pkg.refresh_db result"
[code]

Cheers

[2016-09-22 13:57] TheBigBear commented on #512
@cournape thanks for this report. update to gvim 8.0.1 and switched to the cream installer for it. fixes issue https://github.com/saltstack/salt-winrepo-ng/issues/512

[2016-09-22 13:57] #512 closed

[2016-09-22 14:01] TheBigBear commented on #453
no feedback to the contrary received. closing this as fixed.

[2016-09-22 14:01] #453 closed

[2016-09-22 14:05] TheBigBear commented on #487
@moebiuseye how are things? did you ever continue working on a more modular structure and ways to exclude specific tests purely inside of the travis files and not having to use or create non standard values in the 'sls' files themselves, which lead to compilation errors and warnings?

[2016-09-23 13:51] moebiuseye commented on #487
Hey! Sorry my holidays made me forget about all this :) . Just a couple of weeks and I'll get back into it.

[2016-11-30 02:04] dstensnes opened #819 "Spybot anti-beacon"
Can we have a .sls file for spybot anti-beacon?

[2016-12-01 14:05] TheBigBear commented on #819
@dstensnes sure, do you care to provide it? I will merge it in if you supply it after having tested it yourself.

[2016-12-01 14:51] dstensnes commented on #819
I do not have a working salt stack set up at the moment, nor do I have a working windows. I was just considering using this to bootstrap new windows machines in the future. I don't think I will have the time do  this right now, as I am quite busy at work. I just felt that this should be on the list, since many people would install this anyway.

I'm sorry I couldn't be more forthcoming here, I just

[2016-12-23 11:42] heini opened #857 "[libreoffice] pkg.install gets 404 error while downloading MSI"
Seems the package isn't available anymore on the given mirror:

[code]
Please update to a newer version or use a different mirror.

[2016-12-29 08:28] TheBigBear commented on #857
@heini done. thanks for reporting this. please fee free to provide better or updated links in the future as a PR yourself and I will merge it.

[2016-12-29 08:28] #857 closed

[2017-01-16 17:08] kevinrsalisbury opened #872 "inkscape.sls"
I believe the revision has increased to 0.92 for all platforms [now.](https://inkscape.org/en/download/windows/). Proposed revision to inkscape.sls;

`inkscape:
  '0.92':
    full_name: 'Inkscape 0.92'
    {% if grains['cpuarch'] == 'AMD64' %}
    installer: 'https://inkscape.org/en/gallery/item/10559/Inkscape-0.92.0-x64.msi'
    uninstaller: 'https://inkscape.org/en/gallery/item/10559/Inkscape-0.

[2017-01-16 17:59] kevinrsalisbury opened #873 "firefox-esr.sls and firefox.sls consideration to simplify latest installer url"
The existing .sls pair does work nicely for both versions of Firefox. However, if we are always looking for the latest installer revision, consider [this](https://ftp.mozilla.org/pub/firefox/releases/latest-esr/README.txt) and [this](https://ftp.mozilla.org/pub/firefox/releases/latest/README.txt) to download the latest every time without regular firefox-esr.sls and firefox.sls changes;

Latest Fir

[2017-01-17 08:54] danielcb opened #874 "duplicate ID errors"
For a view weeks now I keep seeing these errors:

[code]

Is this related to my setup? As far as I can see both packages use different IDs and a for loop with just one version. I'm not sure where the conflicting ID is coming from.

[2017-02-27 12:35] DaveOHenry commented on #874
The sls files are malformed which prevents the minions from updating their package database. Looks like the winrepo is not properly tested / maintained. I think I read somewhere that it is not recommended to directly use the winrepo, because it may break things.
I had the same problem some weeks / months ago ("pkg.install" on Windows minions did not work any more) and ended up just removing the sl

[2017-02-27 16:46] twangboy commented on #874
@danielcb In previous versions of Salt if there was an error in one of the .sls files in the winrepo, the entire refresh_db operation would fail. Now it skips the failures and continues building the repo database. This is just the output when there are .sls files with issues... normal behavior.

[2017-02-28 02:28] myii commented on #874
I have a site where the master is version `2016.11.2` and the minions are of various versions including `2016.3.3` and `2016.11.2`.

When using `module.run` for `pkg.refresh_db`, for the `2016.3.3` minions (or older), I get:

[code]

However, when running for the `2016.11.2` minions:

[code]

Which is identical to the errors shown at the top of this issue.  @danielcb You've probably started encoun

[2017-02-28 02:51] myii commented on #874
OK, after a cursory look at both `intellij` sls files reveals that both contain:
[code]

When this is changed to:

[code]

These no longer trigger errors when running `pkg.refresh_db`, for the `2016.11.2` minions.

So if the `duplicati` error can be resolved, these changes could be be collected into a PR.

[2017-02-28 03:17] myii commented on #874
Looking at `salt-winrepo-ng\duplicati.sls`, a workaround is to simply comment out (or remove) the `skip_urltest` line:

[code]

Then `pkg.refresh_db` works for all minions, including the `2016.11.2` minions:

[code]

@TheBigBear I see that this was required for #484 but is there a different way to achieve this?  This is the last resolution required for this issue to be closed.

[2017-02-28 18:18] twangboy commented on #874
@myii Try setting `failhard: False` in your state...

[2017-02-28 18:26] myii commented on #874
`failhard`... hadn't come across that.  Thanks for that.

[2017-02-28 20:03] myii commented on #874
@twangboy OK, just had an opportunity to test `failhard: False` and it still results in the state failing, so that the subsequent `require` prevents the `pkg.installed` state from running.

[code]

Results in:

[code]

So this is essentially the same outcome as running without `failhard: False`.

[2017-03-01 00:04] twangboy commented on #874
@myii You could try `pkg.installed` with `refresh: True`

[2017-03-01 00:16] twangboy commented on #874
@myii In fact, it looks like refreshing the database is default behavior for `pkg.installed`

[2017-03-01 00:22] myii commented on #874
@twangboy I was just about to say that as you commented!  I was just running tests on one of the minions and I found exactly that.

1. On the minion, deleted all of the cached `sls` files in `C:\salt\var\cache\salt\minion\files\base\win\repo-ng\salt-winrepo-ng`
1. Ran the formula without the `pkg.refresh_db` state
1. Used `pkg.installed` without `refresh: True`
1. Saw that the refresh took place a

[2017-03-01 01:14] damon-atkins commented on #874
I change a lot of pkg.refresh_db code which was introduced into 2016.11
- It now reports errors.   People would do a pkg.install and not know why it would not work
- A new internal function refresh the meta data automatically. Their are new options to control this winrepo_cache_*   The default is 6 hours old then refresh.  I made it behaviour more like Unix/Linux package managers

Basically you sh

[2017-03-01 01:28] damon-atkins commented on #874
The issue you are having is that the sls file is not structure correctly and will never work.   So when 2016.11 was first change. I put Issues into fix any sls files in the git hub repo.  So more must of appear with bad data.  I suggest you raise a Issue against  https://github.com/saltstack/salt-winrepo-ng

[2017-03-01 01:35] damon-atkins commented on #874
If you have windows, then you need to be on the latest 2016.11 their are heaps of package management fixes.  For example refresh_db was being over called in some circumstances slowing everything down.

I also introduced into cmd.shell_info which allowed powershell version to be detected without running powershell.  i.e. powershell is very slow to start. And Salt needs to run powershell to check it

[2017-03-01 01:45] damon-atkins commented on #874
Only one sls file can contain a definition for something. Having more than one results in not know which is being used.

[2017-03-01 01:49] damon-atkins commented on #874
Have you updated your copy of salt-winrepo-ng?

[2017-03-01 02:14] myii commented on #874
@damon-atkins Thanks for all of the feedback.

1. I'm considering submitting a PR but I was just waiting for a response about `salt-winrepo-ng\duplicati.sls` (problem with `skip_urltest`), so that all 3 errors could be resolved
1. Upgrading all minions to `2016.11` is ideal but not easy to achieve at the current time -- I will have to support older minions for the time being, so I'll have to modif

[2017-03-01 02:25] damon-atkins commented on #874
skip_urltest not valid in a sls file. I have not seen any code to use this value.  What its saying is it expects a hash/dict next not a key/value pair   i.e. Normal it would be a dict of 'version' which goes on to contain key/value pairs.

I had code to check the structure of the files, to catch mistakes like this. However it does not check everything.  e.g. if skip_urltest was under the version i

[2017-03-01 02:55] myii commented on #874
Following through from #484 shows that `skip_urltest` is/was used by Travis-CI.  The original commit by @TheBigBear was `Add non standard duplicati.sls travis-ci_skip-flag`.  So was always _non-standard_.

Ideally, we need to find out if this can be put under the version or removed entirely or find some other solution for this.

[2017-03-02 11:39] TheBigBear commented on #874
@myii Sorry about the duplicati 'travis-ci_skip-flag'.

FYI, I am NOT a coder, I help out in this project by merging in PRs.

The change was introduced by @moebiuseye, back when he introduced this there were no immediate error messages highlighting the fact that this was 'non-standard'.

@moebiuseye had planned (and promised) to come back after his exams to clean-up this and code up an alternative

[2017-03-02 13:55] moebiuseye commented on #874
Hi, everyone; I'm looking at the problem and might make a PR later today. For now, I agree : you should remove the non-standard `skip-urltest` flag.

[2017-03-02 14:07] damon-atkins commented on #874
These sls files are not really sls files. But more of a package definition file.

[2017-03-02 14:14] myii commented on #874
@TheBigBear Thanks for getting back.  Removing `skip-urltest` means that all 3 errors can now be resolved.

@moebiuseye I was just working on the PR, so don't worry -- was waiting for this final confirmation.

[2017-03-03 15:02] myii commented on #874
With the PR merged, I believe this issue can be closed -- can you do that @danielcb?

Thanks to everyone for their help and feedback.

[2017-03-05 08:29] danielcb commented on #874
Thanks!

[2017-03-05 08:29] #874 closed

[2017-03-06 23:02] myii commented on #648
@damon-atkins I think these are resolved now after issue #874, PR #897.  Is that right?

[2017-03-07 01:47] damon-atkins commented on #648
I had forgot about this.....   I will close it

[2017-03-07 01:47] #648 closed

[2017-04-05 13:36] #873 closed

[2017-04-05 13:36] #872 closed

[2017-04-05 13:55] TheBigBear commented on #873
@kevinrsalisbury hey kevin, sorry for not having responded to your helpful suggestion, so much appreciated.

This is great info, I have not tested it recently, but I believe the built-in salt winrepo downloader is way too dumb to 'cope' with this. ;-(

When I last tested this it absolutely needed to have a filename as lat part of the URL, or it would not recognise it as an executable. (it used to

[2017-04-19 15:46] abaldoni opened #944 "Missing ' in virtualbox.sls"
virtualbox.sls is missing a closing ' in the following line

full_name: 'Oracle VM VirtualBox 5.1.16

[2017-04-19 15:49] TheBigBear commented on #944
@mercsniper https://github.com/saltstack/salt-winrepo-ng/commit/7ba44b75dbe182cb2c6f72fd192202cecd6c0fe0 will you do a PR?

[2017-04-19 16:57] abaldoni commented on #944
Sure, I'll let you know by tomorrow.Il 19 apr 2017 17:49, TheBigBear <notifications@github.com> ha scritto:@mercsniper 7ba44b7 will you do a PR?

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-04-20 08:08] danielcb commented on #944
already done and merged: #943

[2017-04-20 14:08] abaldoni commented on #944
Thanks!

[2017-05-02 07:55] #944 closed

[2017-05-03 20:17] sbuller opened #964 "Illegal tab character in putty.sls"
`sudo salt -G 'os:windows' pkg.refresh_db` yields the following (elided) error message.

[code]

[2017-05-03 20:36] TheBigBear commented on #964
@sbuller thanks for reporting this issue, sorry about this.

@mercsniper did you not test the new putty file? It looks like it was failing on whitespace/identation. Appears you accidentally used at least a couple TABs. Do I need to revert your change and go and test it myself, or can you test this (hopefully) corrected version quite soon?

[2017-05-03 20:38] sbuller commented on #964
no problem, the error message was helpful in getting things working in the interim.

[2017-05-03 20:44] danielcb commented on #642
@TheBigBear can we close this?

[2017-05-03 20:47] TheBigBear commented on #642
@danielcb yes, thanks.

[2017-05-04 08:02] #642 closed

[2017-05-26 19:49] TheBigBear commented on #964
fixed in merge #965

[2017-05-26 19:49] #964 closed

[2017-05-26 19:54] TheBigBear commented on #398
@twangboy @jfindlay @UtahDave @terminalmage ^^^ any help from any of you with https://github.com/saltstack/salt-winrepo-ng/issues/398#issuecomment-219852826

[2017-05-30 14:16] dafyddj commented on #398
@TheBigBear I have been thinking along these lines recently. Here is an example winrepo sls that I have developed for my own use.

[code]
[code]

My use case here is that I want to be able to host binaries locally for some minions, but fallback to the upstream location for other minions (similar to #144). The pattern could easily be adapted to include, say install_flags and locale. It allows for g

[2017-07-14 13:03] dafyddj commented on #398
@TheBigBear do you have any comments on what I have discussed above?

[2017-12-20 23:32] doesitblend opened #1111 "Installation of GNU Coreutils sums references bad path"
### Description of Issue/Question
Installation of GNU sums on a Windows 2012 R2 minion with 2017.7.2 fails with the following error:

[code]

### Setup
Follow [instructions for configuring Winrepo](https://docs.saltstack.com/en/latest/topics/windows/windows-package-manager.html#configuration) and then attempt to install the `sums` package with `salt '<windows minion>' pkg.install sums`

### Versio

[2017-12-21 16:42] rickh563 commented on #1111
ZD-2080

[2017-12-21 16:49] TheBigBear commented on #1111
sorry @doesitblend and @rickh563 this "sums.zip" was a 'local' collection of convenience utils. the 'installer' uses non default paths to download the zip file from the web and then unpack it and 'install' the files.

there are many aspects of this that are not right.

It uses a non default temporary directory ```c:\tmp``` and it copies the ```exe``` files straight into the windows system32 dir, n

[2017-12-21 16:52] TheBigBear commented on #1111
it has further faults, it never actually creates a 'i am installed' entry in the registry, so salt will not ever recognise it as installed. it also uses %systemroot% in one place and hard-coded c:\windows in another. (not even the same dirs!). This really should have never made it to the public repo, sorry, my fault entirely.

[2017-12-27 17:45] rickh563 commented on #1111
@TheBigBear, thank you for the details.

I am going to have @twangboy comment before we make a final decision regarding next-steps on this Issue.

I expect that @twangboy will comment next week.

[2017-12-27 19:56] twangboy commented on #1111
My question is who is hosting the `.zip` file? Where did that come from? Is this something we need to host and maintain? @UtahDave, you worked on this initially, what do you think?

[2018-01-04 14:39] JuliusHibbert opened #1136 "activeperl_x64 repo outdated"
the uris changed to:
http://downloads.activestate.com/ActivePerl/releases/
i would really appreciate it if someone could update the sls. Thank you!

[2018-01-04 14:45] TheBigBear commented on #1136
why not have a go yourself? I will look it over and merge it ....

[2018-01-04 16:17] JuliusHibbert commented on #1136
i have absolutely no idea what i'm doing :)

[2018-01-04 16:21] TheBigBear commented on #1136
@JuliusHibbert ;-) - so what version of activeperl are you seeking to install or upgrade to?

[2018-01-05 12:11] JuliusHibbert commented on #1136
i rtfm and managed to fork this repo, changed the activeperl_x64.sls according to the path on the ActiveState-server with two new random GUIDs, commited and sent a pull request. dunno if this is the right way and the new sls is going to work.
i've got to install perl on an computer-pool full of win7-minions to get some old perl-scripts working. an older perl-version should do, but perhaps better i

[2018-01-10 14:59] dhs-rec opened #1154 "nsclient.sls: Wrong version string"
Hi,

just tried to install the nsclient package in the latest available version, which is *0.5.0.62* according to the SLS. However, after installation I get:
[code]
Please fix.

[2018-01-10 15:57] TheBigBear commented on #1111
@twangboy I suggest this pkg gets deleted very soon.
this was NOT @UtahDave that initially did it, it was me, and it was very early on and it did not understand or appreciate how this would spread or be used.
It simply uses to many non default ways that I think it should be deleted.

[2018-01-10 15:59] TheBigBear commented on #1154
@dhs-rec there is a newer one in the repo can you please check if this pkg now upgrades and behaves as expected, please? I don't use it myself, so cannot make that call.

[2018-01-11 06:56] dhs-rec commented on #1154
Same issue:
[code]

[2018-01-11 19:22] twangboy commented on #1154
Should be fixed with https://github.com/saltstack/salt-winrepo-ng/issues/1154

[2018-01-11 19:22] #1154 closed

[2018-01-12 08:59] dhs-rec commented on #1154
Why has this been closed when #1154 isn't merged, yet?

[2018-01-12 09:11] dhs-rec commented on #1154
Oops, haven't seen the change you made.

[2018-01-12 09:16] TheBigBear commented on #1154
@dhs-rec are we 'good'? is it working for you with the new file that uses jinja variables, to keep it nice and clear?

[2018-01-12 09:39] dhs-rec commented on #1154
Unfortunately not. The change introduced a Jinja syntax error.

[2018-01-12 09:42] TheBigBear commented on #1154
@dhs-rec oh sorry, it was actually @twangboy that changed it to using jinja variables ( long overdue, much clearer now - and thanks btw )

[2018-01-12 09:43] dhs-rec commented on #1154
Just spotted another one. Give me a few seconds...

[2018-01-12 09:45] dhs-rec commented on #1154
Should be fine now.

[2018-01-12 09:48] TheBigBear commented on #1154
@dhs-rec sorry you might have noticed but your first jinja fix is not correct. it need to be another if ( ```cpuarch``` ) comparison ... just assuming x86 is not correct pretty sure @twangboy had intended to use the ```elif``` actually comparing or checking for ```x86``` .

[2018-01-12 09:54] dhs-rec commented on #1154
Done.

[2018-01-12 11:51] TheBigBear commented on #645
@alekseyl1992 can I close this? I think it works now, right? It was a chocolatey version number issue, but we are currently 'up to date' with latest and it works, right?

[2018-01-12 15:25] twangboy commented on #1154
Sorry...

[2018-01-19 22:26] davelindquist-egistix opened #1215 "atom.sls syntactically broken (pkg.refresh_db fails)"
In [salt-winrepo-ng/atom.sls](https://github.com/saltstack/salt-winrepo-ng/blob/master/atom.sls), the syntax:
[code]
is broken, and trying to do a pkg.refresh_db fails with the error:
[code]

To fix, we simply need an extra ' mark at the end of the last version number:
[code]

[2018-01-19 22:39] TheBigBear commented on #1215
@davelindquist-egistix thanks for reporting this. it is fixed with https://github.com/saltstack/salt-winrepo-ng/pull/1217

[2018-01-19 22:39] #1215 closed

[2018-01-19 22:44] davelindquist-egistix commented on #1215
Wow, fast work -- thanks!

[2018-01-24 21:29] TheBigBear opened #1269 "new 7zip jinja syntax leads to 'bad' version numbers"
@twangboy @fizmat The change in the 7zip.sls syntax as interesting as it looks, but unfortunately I think it leads to compiled sls files that are wrong.
As far as I can tell it results in version that is not put in single quote and therefore will be read and misinterpreted as a floating point instead, and trailing zeros can be particularly 'bad' if memory serves me right? (and 7zip has loads endin

[2018-02-26 14:24] AmbicaY opened #1315 "Can SALT be used as SCCM replacement"
Hi

I am trying to evaluate if we can use SALT as a replacement for SCCM. Has anyone tried or compared these 2? Any pointer/inputs will be very helpful.

[2018-02-26 16:17] AmbicaY opened #1316 "Dynamically populate Uninstaller option"
I am able to query a registry value like:
salt <machinename> reg.read_value HKEY_LOCAL_MACHINE 'SOFTWARE\Wow6432Node\Microsoft\Windows\CurrentVersion\Uninstall\Wireshark' 'UninstallString'

I get my required data in the field vdata:

    vdata:
        "D:\Program Files\Wireshark\uninstall.exe"

I need to assign this value to a variable in my sls file. How can I do it?

Here is my use case where I

[2018-02-26 19:17] AmbicaY commented on #1316
Thanks twangboy. Thats helps. I was able to figure out the 32bit and 64bit stuff as well.

[2018-02-26 19:17] #1316 closed

[2018-03-06 02:48] discentem commented on #1315
You probably want to join the Saltstack community Slack and discuss this in the #windows windows channel

[2018-03-26 14:46] dafyddj opened #1345 "salt 2018.03: installer command line switch changes"
Just flagging up that the salt-minion package will require changing based on changes to the installer's handling of config files. [Link](https://docs.saltstack.com/en/develop/topics/releases/2018.3.0.html#windows-installer-changes-to-existing-config-handling)

[2018-03-26 18:51] twangboy commented on #1345
The Release Notes were wrong, it has changed more since we updated those. I fixed that in the above PR. The installer should continue to function with the existing package definition and default to using the existing config without changes.

[2018-03-28 15:01] dafyddj commented on #1345
Thanks for the update.

[2018-03-28 15:01] #1345 closed

[2018-04-27 18:40] prog-dale commented on #1315
Yes I have and I am in the process of replacing all SCCM installations with salt starting with windows patching.

[2018-04-27 18:45] discentem commented on #1315
I'd definitely be interesting in seeing how you manage windows patching in salt. Haven't tackled that yet (we are currently patching with other tools)

[2018-04-27 19:03] prog-dale opened #1357 "remote ref does not exist"
[root@blah salt]# salt-run winrepo.update_git_repos
[ERROR   ] Failed to checkout master from winrepo remote 'https://github.com/saltstack/salt-winrepo-ng.git': remote ref does not exist
https://github.com/saltstack/salt-winrepo.git:
    /srv/salt/win/repo/salt-winrepo

Just upgraded to 2018.3 from 2017 and i get the above error now, saw an old comment about changing repo provider in the master co

[2018-04-30 16:57] twangboy commented on #1357
Network connectivity? I just ran it successfully on mine.

[2018-04-30 17:00] TheBigBear commented on #1357
You might still be trying to use the old salt-winrepo instead of the newer winrepo-ng one?

[2018-05-01 09:51] prog-dale commented on #1357
I checked network and it has not changed and it was working just before on the old version stuck on were else to look for information about where the issue is

[2018-05-01 13:48] prog-dale commented on #1357
salt-run -l debug winrepo.update_git_repos
[DEBUG   ] Reading configuration from /etc/salt/master
[DEBUG   ] Including configuration from '/etc/salt/master.d/pagerduty.conf'
[DEBUG   ] Reading configuration from /etc/salt/master.d/pagerduty.conf
[DEBUG   ] Including configuration from '/etc/salt/master.d/reactor.conf'
[DEBUG   ] Reading configuration from /etc/salt/master.d/reactor.conf
[DEBUG   ]

[2018-05-01 22:50] twangboy commented on #1357
Can you clone that directory from your master on the command line?

[code]

[2018-05-02 06:55] prog-dale commented on #1357
[root@cloud-salt01 ~]# git clone https://github.com/saltstack/salt-winrepo-ng.git
Cloning into 'salt-winrepo-ng'...
remote: Counting objects: 7191, done.
remote: Compressing objects: 100% (34/34), done.
remote: Total 7191 (delta 7), reused 0 (delta 0), pack-reused 7157
Receiving objects: 100% (7191/7191), 1.67 MiB | 2.00 MiB/s, done.
Resolving deltas: 100% (3734/3734), done.

[2018-05-02 07:39] prog-dale commented on #1357
as a side note did a fresh install on centos 7.3 and salt 2018py3 and following the guide to enable to repo all i get is errors so I wonder if there is a step missing in the guide.
Installed salt-master
installed pip
installed gitpython
installed git
git clone https://github.com/saltstack/salt-winrepo-ng.git ... works
salt-run winrepo.update_git_repos

...
Exception occurred in runner winrepo.upda

[2018-05-02 09:25] prog-dale commented on #1357
A fresh install of 2018py2 works flawlessly (python3 does not work) from the same IP so its not networking.

[2018-05-02 19:53] prog-dale commented on #1357
Ok will do.

Any ideas what I can do about my 2017 py2 installation that fails to download the repo ?

[2018-05-02 22:00] twangboy commented on #1357
You could clone the winrepo down yourself. The only one you need, unless you have really old minions (2015.8), is salt-winrepo-ng. It goes into `/srv/salt/win/repo-ng` by default.

[2018-05-23 13:03] damon-atkins opened #1379 "Jenkins CI Testing for salt-winrepo-ng"
Suggestion
- Pull down the latest production release.
- Setup a Master Linux and Minion Windows
- Run pkg.refresh_db on the Windows Minion
- Check for errors.

[2018-06-18 17:45] dafyddj opened #1418 "Sensu.sls fails to compile on desktop OS"
i.e. where grains['osrelease'] == '8.1'

[2018-06-19 16:20] #1418 closed

[2018-06-23 11:31] TheBigBear commented on #1379
@damon-atkins does it have to be on jenkins ci?

I already do have a working CI setup on travis-ci?

[https://travis-ci.org/TheBigBear/salt-winrepo-ng](url)

And I am maintaining a 'branch' for travis-ci checking on my repo ``` travis-ci_cron_daily```and sync it to upstream origin as well.
Have stopped fixing issues ( and updating it ) on the very old winrepo repo though, so currently only winrepo

[2018-06-24 13:54] damon-atkins commented on #1379
Sounds good.  (links seem to be broken)

I'm still working on replacing this so that version hard coding is no longer required, no full_name **exact** matching, versions of installer available are dynamic and just in time tempting (pipe yaml, jinja, python etc).   Just taking a lot longer than plan and a lot of spare moments.

[2018-06-24 13:59] TheBigBear commented on #1379
@damon-atkins anything I can do to help, or test and give feedback or help improve it ...? I still think that having or "subverting" the chocolatey installer would be so much easier and so much more efficient ....

[2018-06-24 14:17] TheBigBear commented on #1379
@damon-atkins thanks for the heads up about the 404 broken links, will have a look, but frankly am getting tired of the very very laborious manual work fo thing to stay on top of this. windows installers are a PAIN !!!

[2018-06-25 03:38] damon-atkins commented on #1379
That's why plan to move to dynamic version. I..E. Render when the refresh_db but also
 render the required package definition in install and remove. It will be as simple as the current version to use or as complex as choc if python is used in the package definition template.  Next to no maintenance and pillar overrides.

[2018-06-25 03:38] #1379 closed

[2018-07-24 17:13] damon-atkins commented on #1379
Hi @TheBigBear  are you on https://saltstackcommunity.slack.com/ ?

[2018-07-29 16:00] damon-atkins commented on #1379
See https://groups.google.com/forum/?utm_source=digest&utm_medium=email#!topic/salt-cloud/CcLKDWjdfzk

[2018-07-30 18:42] twangboy commented on #1379
@TheBigBear That's our community slack channel. We have a windows channel that I monitor.

[2018-08-02 20:04] prensing opened #1468 "Python 2.7.13 not included"
The python2 packages do not have 2.7.13, which has been out for quite a while.

[2018-08-03 20:33] TheBigBear commented on #1468
@prensing any chance you would care to write the PR to catch up on this progress in python 2.x land ...?

[2018-08-07 03:03] prensing commented on #1468
OK, I can do that. I am converting it to a loop, similar to git.sls.

Does anyone know why the SLS version are like "2.7.12150"? Where does the "150" come from? I don't see that in any of the Python files.

[2018-08-07 08:32] TheBigBear commented on #1468
@prensing check the version number windows detects and stores about python. Highlight python in add/remove programs and double check the 'version' number it detects ( usually stored in a uninstall registry key ) It is what salt winrpeo-ng uses and reads to check that version is what is expected and will only detect a clean install if those versions match.

[2018-08-08 12:58] prensing commented on #1468
See https://github.com/saltstack/salt-winrepo-ng/pull/1472 for the updates for Python2.

I did not do Python3 yet; need some advice.  The newer Python 3 installers (.MSI) appear to include a dozen separate install packages (eg one for the Python executables, one for the library, etc). Is there some way to link them all to the same Salt package?

Also, since I played with it on my machine, I now ha

[2018-08-08 13:55] TheBigBear commented on #1468
@twangboy I still don't install or use python 3 anywhere myself. So I have not come across this myself. Do you have any experience and insights to share with @prensing or know someone that could give the required feedback to @prensing ? He has done a great job, I think,  finally making a jijnja template for the 2.x versions of python.

[2018-08-08 14:49] TheBigBear commented on #1468
@prensing I did a ver. 3 install, but it only installed one version and not multiple products for me though? Well, actually one launcher and one python 3. Did you install several and now have parallel installations of multiple ver 3.x versions? Or are you asking about fine-tuning what it installs on one version in terms of install option choices, such as 'Documentation, pip, tcl/tk and idle, pytho

[2018-08-08 15:00] prensing commented on #1468
@TheBigBear Sort of yes to both questions. I was testing an updated Py3 SLS (which I did not send over). The versions before 3.4 (if I remember) installed similar to Py2. For Py 3.5 and later, it installed what looks like multiple "packages":

   Python 3.7.0 Core Interpreter (64-bit):
        3.7.150.0
    Python 3.7.0 Development Libraries (64-bit):
        3.7.150.0
    Python 3.7.0 Documentati

[2018-08-08 16:09] twangboy commented on #1468
You can just pass the name of the MSI used to install python. The `pkg.remove` function will add the `/X` option which will tell it to uninstall. Pass the same flags used to install. There are many examples in the repo.

For example: https://github.com/saltstack/salt-winrepo-ng/blob/master/adobeshockwaveplayer.sls

[2018-08-08 16:15] twangboy commented on #1468
Py3.5 changed something in their installer. It does seem to install multiple separate packages. They all show up as their own entries in the registry, yet only a single item shows up in `add/remove programs`. Looks like they're doing some msi voodoo that other msi installers aren't doing. We probably need to figure out how to handle this in Salt.

[2018-08-08 16:26] twangboy commented on #1468
There may be an issue with the 3.5 installer. Even though you install for All Users, the registry entry that displays in Add/Remove Programs is actually found in: `HKEY_CURRENT_USER\Software\Classes\Installer\Dependencies\CPython-3.5`

3.6 seems to behave the same way. That means the single Python entry as shown in Add/Remove programs won't show up in `pkg.list_pkgs`. Instead, you'll get entries f

[2018-08-08 16:32] twangboy commented on #1468
There's also an entry under `HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Uninstall\{5d57524f-af24-49a7-b90b-92138880481e}`, which is still NOT AllUsers.

[2018-08-08 17:30] TheBigBear commented on #1468
@prensing OK, whilst Twangboy has looked into it, I also installed '3.7.0' using the settings as back in 3.5.x ( seen also at end of this comment ) and now I see what you mean.
But in windows add/remove it only installs two, the launcher and python itself, but salt detects 11 newly installed pkgs???

BUT at least on the surface of it the ```pkg.install``` and ```pkg.remove``` do install and remove

[2018-08-08 17:42] twangboy commented on #1468
Looks like we need to revisit the `pkg.list_pkgs` to make it more accurate.

[2018-08-08 19:57] TheBigBear commented on #1468
@damon-atkins do you have any experience and/or thoughts on this newer ```pkg.list_pkgs``` output, or is your work on NG winrepo-ng not run into this?

[2018-08-09 00:42] twangboy commented on #1468
I'm thinking we need something more along the lines of this: https://social.technet.microsoft.com/Forums/windows/en-US/d913471a-d7fb-448d-869b-da9025dcc943/where-does-addremove-programs-get-its-information-from-in-the-registry?forum=w7itprogeneral

[2018-08-09 03:36] damon-atkins commented on #1468
The issues is the python installer puts some of its registry entries in the current user space and some in the machine space. i.e its broken. They are not going to change Python2.

I looked at the GUI for the installer in 3.7 and its also broken.  e.g. Install Launcher for everyone yet it defaults to installing python under the user.

The next step would be to try lots of command line installer op

[2018-08-15 17:39] TheBigBear commented on #1468
@prensing would you mind adding the ver 3.x newer pkgs in the much neater and shorter jinja version, like you did for version 2.x?
I think on the windows level it all works as expected and installs and removes the right versions.
At the moment it is just a mostly 'cosmetic' difference in winrepo-ng that reports 11 pkgs instead of just 2 of them ..?
@twangboy and @damon-atkins is that 'ok' to ask @

[2018-08-15 18:16] damon-atkins commented on #1468
No problem with PY3 as long as the option force the install into the correct location of the registry and it installs for everyone.  I would start with the latest version of PY3  and only support the older ones if someone requests it.

e.g.
python-3.7.0.exe /quiet InstallAllUsers=1 CompileAll=1

[2018-08-15 18:33] damon-atkins commented on #1468
No problem with PY3 as long as the option force the install into the correct location of the registry and it installs for everyone.  I would start with the latest version of PY3  and only support the older ones if someone requests it.

e.g.
python-3.7.0.exe /quiet InstallAllUsers=1 CompileAll=1

The 11 new entries sort of suggest they have fix where the registry entries have been place when instal

[2018-08-31 16:07] #1357 closed

[2018-09-17 07:38] dR3b opened #1492 "Chrome never show "Package chrome is already up-to-date""
Chrome is always displayed as "The following packages were successfully installed/upgraded" and not as "up-to-date" every time I start "state.highstate". The same works with "jre8" without any problems. Here is an example:

[code]
[code]
[code]
[code]
[code]

[2018-09-20 20:11] twangboy commented on #1492
@dR3b When downloading the Java runtime, you can select the most current as well as previous versions of JRE to download. With Chrome, however, you only have a single URL to an installer that is always the latest version available, but never specifying what the version is. Because of that, we added the ability to handle a version `latest` in the software definition file, which just causes the pack

[2018-09-20 20:11] #1492 closed

[2018-11-14 23:55] samjhandley opened #1511 "Ruby installer not being listed as installed, entry missing from 'pkg.list_pkgs'"
The ruby installer sls does not show the pkg as being installed on the system after it has been. The issue seems to be that it is not listed in `salt 'minion' pkg.list_pkgs saltenv=NotARealEnv`.

Not sure where else to look for the correct pkg name. Could also just be a problem with how the ruby installer works?

[2018-11-15 00:45] twangboy commented on #1511
This is usually an issue with the `full_name` or the version not matching exactly what's found in `Add/Remove Programs`. I'll have to look at it a little later.

[2019-01-17 21:05] getSurreal opened #1523 "salt-minion upgrade reports as failed although was successful"
It appears when you run these states to upgrade the salt-minion that it always reports as a failure.  I'm assuming because it has to stop the salt-minion service when the background task is running the upgrade.  Is there a way to change how this reports?  Example output below of a failed state, but in actuality the salt-minion was upgraded successfully.

Minion version upgrade from 2018.3.2 to 201

[2019-01-18 02:31] twangboy commented on #1523
@getSurreal Yeah, it's difficult. `pkg.install` handles salt a little differently. It uses the task_scheduler to run the installer. The first thing the installer does is kill the salt-minion service.
So the best salt can do is start the task and then return that it did so... because it will soon die. Outside of creating a standalone program that handles the salt service and upgrading salt I don't

[2019-01-18 15:50] getSurreal commented on #1523
@twangboy Thanks.  I understand the dilemma.  I didn't see any comments or notes anywhere to expect those results so I kind of just wanted to confirm that was the expected behavior.

[2019-01-18 15:50] #1523 closed

[2019-02-05 22:50] scheste opened #1540 "current Cyberduck version - uninstall issue"
Hi,

I want to update the Cyberduck state (salt version 2018.3.3 + Windows Server 2019 Client), because newer versions also as MSI package available and the uninstall procedur has been changed
But I don't understand why only the installation works and not also the uninstall as well. I have tried it with various MSI uninstall parameters, unfortunately always with no success. With the exe installer

[2019-02-06 00:23] twangboy commented on #1540
You're missing the uninstaller parameter

[2019-02-06 00:54] scheste commented on #1540
I have tried also with uninstaller parameter
`uninstaller: '{{source_path}}/Cyberduck-Installer-{{major}}.{{minor}}.msi'`
and
`uninstaller: 'msiexec.exe'`
(also with path variant)

When I uninstall manually via CMD and the following parameters:
`msiexec.exe /x {4DB85437-9B91-4E68-8019-EE31C4464DA4} /qn`
it works, but not with salt.
Do I have to consider something with a 32bit msi package under Win

[2019-02-06 17:22] twangboy commented on #1540
I wonder if it's the GUID that's messing things up. The other pkg defs that handle MSI's use the same path and flags as the installer....
[code]

[2019-02-06 17:24] twangboy commented on #1540
Does the package show up in `pkg.list_pkgs` after it's installed? How does that return look?

[2019-02-06 21:10] scheste commented on #1540
Cyberduck will be listed after the installation and even after I tried to uninstall it:

`Cyberduck:
        6.9.0.29768`

I have test it also with 2 older build versions, the same problem.
Maybe the Cyberduck installer has a bug too...
I can uninstall the package via the CMD or cmd.run also with parameter:

`MsiExec.exe /x c:\Users\Administrator\Downloads\Cyberduck-Installer-6.9.0.29768.msi /qn`

[2019-02-06 21:43] scheste commented on #1540
The cyberduck exe installer has exactly the same problem, installation works, uninstall not.

`{% set versions = {'6.9.0':['29768']} %}
{% set source_path = 'https://update.cyberduck.io/windows' %}

cyberduck:
{% for major, subversions in versions.items() %}
{% for minor in subversions %}
  '{{major}}.{{minor}}':
    full_name: 'Cyberduck {{major}}'
    installer: '{{source_path}}/Cyberduck-Instal

[2019-02-06 23:22] twangboy commented on #1540
The problem might be the `full_name`:
[code]
It looks like the full name might be just `Cyberduck` with no version. When you look at `Add/Remove Programs` does it show Cyberduck or Cyberduck and some version in the Name column?
That's what needs to be in the `full_name` to match correctly.
My guess is that you need to remove the `{{major}}`

[2019-02-06 23:47] scheste commented on #1540
thanks, now it works, sorry for your inconvenience. I have used and modified the current state, in the former version there was still a version specification in the name. So I overlooked, lesson learned...

Important is to use a higer timeout instead of the standard values, because the installation and deinstallation generates a high cpu utilization. Otherwise I get the message `Minion did not ret

[2019-02-06 23:47] #1540 closed

[2019-03-05 22:30] scheste opened #1566 "ERROR: unicode string"
I wanted to update and improve the existing state ossec-agent.sls.
Now I received the following error message and don't know why.

### Error Message:
[code]

### State:
[code]

### But...
If I add {{minor}} to the version to the line 25, so that the line looks like:
`  '{{major}}{{minor}}:`
Then I don't get an error message and can at least install the latest version of the agent. But this workaro

[2019-03-05 22:46] twangboy commented on #1566
You probably need to move the line `{% for minor in subversions %}` to be after `  '{{ major }}':`

[2019-03-05 22:53] twangboy commented on #1566
The `Major` key has to be unique. Each time you loop through it's generating that key again. The problem may be with the way this particular package is storing its version information. It's only reporting the Major version and not the subversions. Salt matches off the version as it appears in "Add/Remove Programs". You may have to just stick with the most recent build of each major version since t

[2019-03-05 23:06] scheste commented on #1566
Thanks a good tip, I have now reduced the versions and only specified the last build version of the respective main version. now it seems to work!

[2019-03-05 23:06] #1566 closed

[2019-03-21 21:34] itamarjp opened #1572 "make salt-winrepo a standalone app"
I think that  salt-winrepo will grow more if we make it a standalone app, a competitor of chocolatey, usable with or without saltstack.

[2019-05-07 21:21] dkfsalt opened #1593 "Packages won't remove"
This is probably best explained with an example.

Test server is Windows 2016

[code]

I've not done exhaustive testing, but I've found a few that fail this way (see below), there are likely others:
- golang
- git
- wireshark
- winrar

[2019-05-13 22:40] dafyddj commented on #1593
The issue, at least where Wireshark is concerned, is that Salt is not matching the install string ("Wireshark 2.6.6 64-bit") with what's specified in the package definition, so as far as Salt is concerned, Wireshark (the pkg) isn't installed.

`install status: success` just means that the install command returned a successful exit code.

The package definitions for these programs obviously need ti

[2019-05-15 08:07] dkfsalt commented on #1593
Or maybe do a case insensitive search?

[2019-05-15 15:43] dafyddj commented on #1593
Feel free to open an issue on the main Salt repo, if that's the case.

[2019-05-23 22:55] dkfsalt commented on #1593
Looking for opinion.  Should we fix the repo defn's or modify the behavior of pkg?  I'm thinking the latter is better but I'm new to salt, so...

[2019-05-24 00:51] UtahDave commented on #1593
This looks like the repo package definition needs to be updated so it can find the installed software.

[2019-05-24 14:01] dafyddj commented on #1593
At least where Wireshark is concerned, it's not a question of case sensitivity but the full name string doesn't match and needs fixing.

[2019-05-24 14:04] dafyddj opened #1612 "Wireshark: update version and fix full name string"

[2019-07-31 03:49] kussatom opened #1627 "install package get minion error log"
in the minion ,the debug info:
Traceback (most recent call last):
  File "C:\salt\bin\lib\site-packages\salt\utils\win_reg.py", line 341, in list_keys
    handle = win32api.RegOpenKeyEx(hkey, local_key, 0, access_mask)
pywintypes.error: (2, 'RegOpenKeyEx', 'cann't find file。')
[DEBUG   ] Cannot find key: HKU\S-1-5-19\Software\Microsoft\Installer\Products
Traceback (most recent call last):
  File "

[2019-09-07 07:45] fizmat commented on #1269
I think show_sld does not print the raw template output, even with the --out=yaml flag. It just formats the salt dictionary after salt already interpreted the sls, with whatever yaml formatting rules it has.

For example [svn](https://github.com/saltstack/salt-winrepo-ng/blob/master/svn.sls) has a very simple sls:
[code]

But it also results in unqouted version numbers when running through show_sl

[2019-09-20 11:04] artlov commented on #1612
Is there any reason to not include Wireshark version 3 to the installer? 3.0.4 is currentrly last available version to download.

[2019-12-03 10:52] rgroux opened #1655 "[ms-vcpp-2017-redist_x64]: success but failed"
[code]
----------------------------------------
[code]
the pkg.list_pkgs return this

it means the sls file for ms-vcpp-2017-redist_x64.sls must be like this.

[code]

the version number is 14.20.27508.**1** instead of 14.20.27508
the fullname is "Microsoft Visual C++ **2015-2019** Redistributable (x64) - 14.20.27508" instead of  "Microsoft Visual C++ 2017 Redistributable (x64) - 14.20.27508"

[2020-02-22 20:54] benfiedler opened #1671 "Allow renaming of http(s) installer files"
Hi,

Lately I have been working on adding some windows sls files for packages that interest me and have run into this problem on at least two of them. The source URL does not end in .exe and it seems to choke when trying a pkg.install.

e.g. for the latest opera browser:

[code]

This installer URL is normally redirected via browser to a file named OperaSetup.exe, however winrepo saves it rather v

[2020-02-25 00:25] twangboy commented on #1671
You have to find a url with that binary name... Luckly, for opera it's pretty easy:
https://get.geo.opera.com/pub/opera/desktop/66.0.3515.95/win/

[2020-02-25 00:25] #1671 closed

[2020-02-27 17:38] TerraTalpi commented on #1612
Hi @dafyddj  and @artlov, no there is no reason for that, simply no one added the newer versions. I have now added them in the pull request that I have just linked, should be good then. The full name string is also fixed and more importantly the version string. The version string is required for uninstall to match.

[2020-02-27 17:43] TerraTalpi commented on #1593
I have investigated and hopefully fixed golang and wireshark.
**Wireshark: ** was using the .exe installer. They have changed the `fullname` from 2.0.0 to 2.6.x to 3.0.0 for the .exe installer, that's why it's difficult to distinguish it. The MSI-Installer starting with 2.4.0 always uses the `fullname` of "Wireshark". I have migrated the installation routine to the MSI installer except for 2.0.0 t

[2020-02-27 17:48] TerraTalpi commented on #1655
I guess this issue can be closed, the corresponding pull request has been merged and the problem is fixed, right?

[2020-02-27 17:49] TerraTalpi commented on #1627
Can you give us a little bit more info on that? Which package did you install (with which command and what version was installed then)? Which salt-version are you using and which Windows version. Can you still reproduce this?

[2020-02-27 22:53] twangboy commented on #1627
This is related to this issue in salt: https://github.com/saltstack/salt/issues/53955
Which was fixed with this PR: https://github.com/saltstack/salt/pull/54072
This went into the Salt 3000 release.

[2020-02-27 22:53] #1627 closed

[2020-02-27 22:53] #1655 closed

[2020-02-27 22:54] #1593 closed

[2020-03-12 01:18] #1612 closed

[2020-03-16 08:24] TerraTalpi commented on #1136
Hey @TheBigBear, I checked this and I have seen that he actually opened an unlinked pull-request with #1140 but you did the updates in #1157, #1158, #1159 and #1160. So I guess this issue was just never closed after your patches, right?

[2020-03-16 08:27] TerraTalpi commented on #645
Hey @TheBigBear, since opening this issue there have been 16 merged pull-requests for chocolatey and @alekseyl1992 did not reply. I think we can consider this as fixed ans close the issue, right?

[2020-03-16 10:09] alekseyl1992 commented on #645
Sorry, haven't used salt on windows since then.
So yes, closing a stale issue is ok.

[2020-03-16 10:09] #645 closed

[2020-03-16 16:06] #1136 closed

[2020-04-05 14:51] prensing opened #1684 "Chrome installing 32-bit version"
I just installed Chrome via salt on the 64-bit Win10 machine, and I got an old, 32-bit version. It did automatically update to the newest, but it is still 64-bit.

Looks like Google's install method has changed and the repo needs to be updated.

[2020-05-06 05:25] Mukrosz opened #1694 "salt-minion-py3.sls installing the same version over and over"
Hi there,

Thank you very much for the salt-minion-py3.sls. I am trying to incorporate into our company Salt upgrade process.
Is it an expected behavior for Salt agent to reinstall itself even though the same version is already present?
This is how I run it:

`salt '*' pkg.install salt-minion-py3 version=latest`

Everytime I run it, the same version (latest 3000.2) gets uninstalled and reinstalled

[2020-05-11 14:49] stratusjerry opened #1696 "Firefox changes broke travis ci tests"
Changes made in PR #1679 to add a variable language installer broke the travis-ci test scripts and all tests against Firefox return true now even with invalid installers

[2020-05-11 15:46] stratusjerry commented on #1696
Adding a temporary fix to PR #1695 by commenting out the config lookup logic and hard coding English US language. IMHO if exceptions in the logic for languages can't be properly caught in the .sls file; and the sls files rely on custom pillars,grains, configs, etc; the logic should be removed from the sls files altogether. Thoughts?

[2020-06-14 15:54] hemantaltair opened #1701 "Chocolatey installation dosen't work"
ID: install chocolatey using salt package manager on windows
    Function: pkg.installed
      Result: True
     Comment: The following packages were installed/updated: chocolatey
     Started: 15:17:44.025000
    Duration: 1247.0 ms
     Changes:
              ----------
              chocolatey:
                  ----------
                  new:
                      /f
                  old:

[2020-08-04 01:22] #1696 closed

[2020-08-05 16:32] #1269 closed

[2020-08-05 16:33] #1684 closed

[2020-08-08 15:16] Steltek opened #1712 "Classicshell.sls points to non-existing download"
classicshell.sls links to this URL: http://www.mediafire.com/download/wl5nbjaki7zbssn/ClassicShellSetup_4_2_4.exe which appears to be gone. (The ClassicShell website lists version 4.3.1 as current, so maybe they pulled the file?)

[2020-11-06 03:20] Silvenga commented on #1694
Changing the version to the one that the installer registers does seem to work e.g.
[code]

[2021-01-11 09:32] dpinyol opened #1775 "salt-winrepo-ng/zabbix-agent.sls"
Hi
salt-winrepo-ng/zabbix-agent.sls url returns 404.

Thanks in advanced.

[2021-01-12 02:34] shed909 commented on #1775
There is a pull request that fixes this here:
https://github.com/saltstack/salt-winrepo-ng/pull/1773

As a temporary solution, we cloned the repo, made the same changes as in the PR above and pointed Salt to our repo.

[2021-02-26 17:51] #1775 closed

[2021-03-30 13:26] TheBigBear commented on #1712
@Steltek, I have solved this, came across the 'solution' whilst working on another broken pkg. @twangboy  now has a PR to his own repo with the fix for it. I am sure he will get around to it one of these days.

[2021-03-31 16:15] TheBigBear opened #1814 "openvpn needs updating - need your help with Jinja macro 'magic'"
Hi @dafyddj or @twangboy

The Jinja macro stuff in ```openvpn.sls``` exceeds my jinja abilities ... but it desperately needs updating.

@dafyddj Can you spare a minute or two to explain how I add the current stable releases after they left win7 support behind , so from 2.4.10 and up into 2.5.0 - 2.5.1  current or do it and make a comment on the PR so I can see what needs doing now, to take this fo

[2021-04-01 11:48] TheBigBear opened #1819 "following URLs see to have gone 'bad' - need fixing .."
I am posting a list or URLs that have gone 'bad' over time.

I am working through them to get them 'fixed'.

There is generally one of three actions that lend themselves.

#1 update the URL to newer and valid versions and also move the old 'broken' version URLs to a section that still allows listing them and removing [ see example in npp.sls for one way to do that ]

#2  if there are no longer any

[2021-04-01 11:49] TheBigBear commented on #1819
@dafyddj said he will look into the ```20``` openvpn ones, great, thanks. much appreciated.

[2021-04-01 11:54] TheBigBear commented on #1819
I will at least look at the following ones in this order next: ( but please feel free to snatch one and do it before I get to it. ;-)

skype-msi
handbrake
sandboxie
ms-vcpp-2005
usbdlm
spybot
subinacl

texmaker
rakkudo-star
strawberryperl

wamp-server

[2021-04-01 12:09] myii opened #1820 "Should `golang` be (also) available as `go`?"
While adding Windows testing to the [golang-formula](https://github.com/saltstack-formulas/golang-formula/pull/45), our InSpec tests are actually reporting the package installed as `go`, not `golang`.  Does this need to be corrected in any way?

* Referring to https://github.com/saltstack/salt-winrepo-ng/blob/master/golang.sls

[2021-04-01 17:05] myii commented on #1820
Well, this looks like more of an InSpec issue, since Chocolatey and the Windows Package Manager both using `golang`:

* https://community.chocolatey.org/packages/golang
* https://github.com/microsoft/winget-pkgs/tree/master/manifests/g/GoLang

[2021-04-04 07:53] TheBigBear opened #1835 "pre-commit URL check fails on 403 - needs to pass them"
The ```pre-commit``` hook fails on URLs that actually do work.

Can this be fixed? @dafyddj

This is branch ```update-rakkudo-star``` on [my own repo here](https://github.com/TheBigBear/salt-winrepo-ng/tree/update-rakkudo-star)

[code]

[2021-04-07 17:12] TheBigBear commented on #1835
pre-commit checks has similar issue on one dl version of vlc, since they introduced a html page with counter before redirecting to Start the download.
and it also has a URL that it thinks fails for patchmypc-free and patchmypc , which actually succeeds

maybe we introduce additional  flags one can set in sls file such as 'ignore_403' or 'ignore_500' ... ?

[2021-04-08 13:45] TheBigBear commented on #1820
@myii can you close the issue then, please?

[2021-04-08 19:45] #1820 closed

[2021-04-21 05:14] ShaneHutter opened #1857 "prometheus-wmi-exporter.sls Shows an error with attribute "version_compare""
The prometheus-wmi-exporter.sls is showing an error when running `pkg.refresh_db` on a minion.

[code]

This appears to be occurring on line 42 of the SLS file.

[code]

[2021-06-02 11:08] TerraTalpi commented on #1857
Hi @ShaneHutter, I have written the prometheus wmi exporter, because I am using it on our servers. I have just installed the `wmi-exporter` with a `state.apply` with salt version `3002.6` on a Windows Server 2019 build 1809. The `pkg.refresh_db` has also worked on the server.

Can you provide a little more details, because I cannot find any problem with that? Maybe your salt version on either the

[2021-06-15 19:46] sharkbruhaha opened #1871 "jdk8.sls does not uninstall"
The https://github.com/saltstack/salt-winrepo-ng/blob/master/jdk8.sls
does not uninstall. I've written an updated version for jdk11.0.8 and still not working.

Can someone verify if this works on their end?
Testing the `msiexec.exe /x {<uninstall-string>} /qn /norestart` in cmd.exe works, but does not in powershell. Trying to get this to work in salt is not working. It installs, but will not unins

[2021-06-16 21:30] sharkbruhaha commented on #1871
figured out what it was.
Despite Oracle documentation saying they drop the trailing zeros, and needing to do so elsewhere,

1. The full version with trailing zeros needs to be in the top
2. the truncated does need to be in the full_name

[2021-06-16 21:30] #1871 closed

[2021-09-10 09:11] thr27 opened #1884 "Firefox install status success but state Result: False"
When I try to install firefox_x64 on Windows Server 2016, the install succeeds but salt reports Result: False

[code]

My state file is simple like this:

[code]
After some investigation, I found that Firefox is listed as 'Mozilla Firefox (x64 en-US)' in registry
But the repository defines the fullname in salt-winrepo-ng\firefox_x64.sls as
'Mozilla Firefox {{ version }} (x64 {{ lang }})' which inc

[2021-10-04 10:41] TheBigBear opened #1887 "how do cleanly move Notepad ++ to win32 and win64 arch?"
Notepad++ originally was only ever a 32bit executable.

So the original naming of "npp.sls" made a lot of sense at the time.

But they have now had a whole major version of a 64 bit executable as well.

Our problem is, how do we move this package over for major version 8 onwards at least ( or maybe even in retrospect for major ver 7 as well ? ) to be allowing users to installing the 32bit or 64bit

[2021-10-04 10:45] TheBigBear commented on #1887
@twangboy @dafyddj any suggestions on how to take this popular pkg into the present and future? Major version 8 has been out since June 2021,  version 8.x is already in its 7th release with version 8.1.5 https://notepad-plus-plus.org/downloads/

[2021-10-04 16:53] #1884 closed

[2021-11-08 13:00] xzenor commented on #1887
I have a pull request waiting for some attention with that exact change.
Nobody looked at it yet though.

[2021-11-10 19:01] chalbersma opened #1897 "Feature Request Add ability to add installed packages to path"
Feature Request Add ability to add installed packages to path

https://stackoverflow.com/questions/714877/setting-windows-powershell-environment-variables?rq=1

Something like this: `[Environment]::SetEnvironmentVariable("Path", $env:Path + ";C:\bin", "Machine")` in theory should be able to allow packages to add their directory to the powershell path.

[2021-11-16 08:33] xzenor opened #1899 "Is this project dead?"
The salt-winrepo got updated saying everyone should go to salt-winrepo-ng.. but this seems to be just as dead.

[2021-11-17 05:05] H20-17 commented on #1899
I've got two 26 day old pull requests. In the past, it never too a long time to get them merged.

[2021-11-17 07:45] xzenor commented on #1899
So.. you're not sure either?

[2021-11-17 19:01] H20-17 commented on #1899
@xzenor  I'm worried. I wish there would be some transparency about what's going on.

[2021-11-17 20:24] xzenor commented on #1899
@H20-17 I share your worries... :(

[2021-11-19 18:44] H20-17 commented on #1899
@twangboy, i hate to bug you. I know that you do massive amounts of work for salt in general, and I have no idea what your actual obligations are (if you've got any at all). Can you at least tell us what's happening?

[2021-11-23 17:29] TheBigBear commented on #1887
@xzenor thanks, so sorry I missed your PR. I quite like @dafyddj's suggestion to add "a Salt configuration parameter (or grain/pillar) to determine required architecture like I introduced for language for Firefox." So installing 64-bit could be made the new default on 64 bit OSes and ONLY IF users specify a flag requesting 32-bit installs on 64-bit OS would it switch to using that. What I have not

[2021-11-23 17:39] xzenor commented on #1887
@TheBigBear  Switching from 32 to 64 might be tricky, especially since you can have them both installed side by side so there's no upgrade functionality in the setup either.
I'll have a look at it..

[2021-11-23 17:46] TheBigBear commented on #1887
ok, could be a gotcha, I did say I had not done the testing yet, in a nutshell I just wanted to somehow cleanly combine the past where we only had npp and 32 bit and now where we have 64 bit by default on 64 bit os ... and trying to have it work for most people in most places by now using 64-bit on 64 bit os by default and 'forcing' only the 32-bit users that really need their npp to be 32-bit onl

[2021-11-24 15:43] H20-17 commented on #1899
@xzenor my pr's were accepted the other day, so I guess things are still alive.

[2021-11-24 22:52] xzenor commented on #1899
Yeah I've gotten some comments on mine as well.

[2021-12-08 01:11] twangboy commented on #1899
Yeah, I'm the only one who monitors this and sometimes I get a little busy and don't check for pending PRs. Sorry about that. I'll try to keep a better eye on that.

[2021-12-13 12:41] xzenor commented on #1899
No worries. Life is important as well.
Would you prefer to be mentioned whenever a pull request is waiting so you get notified?

[2021-12-14 11:17] xzenor commented on #1694
I'm gonna give this a kick because it's now happening again.
The 'actual' version of the current salt-minion is 3004-2 but it registers in windows as 3004, so it keeps trying to update to 3004-2

[2022-01-18 12:05] ricekab commented on #1899
It might be worth appointing some additional maintainers to take the load off. Are there formal processes for this?

[2022-02-02 23:18] KForney224 opened #1913 "pkg.refresh_db fails on winrar"
When running pkg.refresh_db getting failure to compile winrar:
salt-winrepo-ng\winrar.sls:
        - Failed to compile, Jinja syntax error: expected token ':', got '}'; line 14
          ---
          [...]
              full_name: 'WinRAR {{major}}.{{minor}} (64-bit)'
              installer: '[https://www.rarlab.com/rar/winrar-x64-{{major}}{{minor}}.exe](https://www.rarlab.com/rar/winrar-x64-%7B

[2022-02-10 19:42] eliasp commented on #1913
#1914 was merged - this can be closed.

[2022-02-26 20:57] H20-17 opened #1916 "salt-minion-py3.sls has wrong definitions for 3004"
In the formula file salt-minion-py3.sls we see this:

[code]
However no matter whether we install from installer 3004-3, 3004-2, or 3004, in the registry the version always appears as 3004. That means that _{{ version }}_ will never match if we install from 3004-3 or 3004-2.

Should installers 3004-2 and 3004 really be referenced at all, since they are presumably supplanted by 3004-3 anyway?

[2022-02-28 18:59] dafyddj commented on #1916
`3004-3` **does** appear in the registry as `3004-3`; this was fixed by @twangboy.
It's a best practice in `winrepo` not to remove installer versions. Salt needs to know all the version numbers so that those can be uninstalled by Salt if necessary.
You're right, `3004-2` does break this pattern, but its installer is still available on `repo.saltproject.io`, and hasn't been pulled due to CVEs, so I

[2022-02-28 20:26] H20-17 commented on #1916
Yes, this seems to be the cause. The other day I thought I thouight installed 3004-3 and and seen the version as 3004. Anyway I'll close this on the assumption that I was really tired and was just seeing things or messed up somehow.

[2022-02-28 20:26] #1916 closed

[2022-05-18 08:08] xzenor commented on #1899
It's important to get at least one extra maintainer just in case something happens to that 1 maintainer. It's also convenient for faster pr acceptance.

[2022-06-08 00:48] ShaneHutter opened #1936 "404 on MSI file location"
https://github.com/saltstack/salt-winrepo-ng/blob/08da12ce2df3a56a041ec25d53fcfe591f7d2d10/nxlog.sls#L4

This file no longer exists.

[2022-06-08 00:49] ShaneHutter commented on #1936
https://nxlog.co/system/files/products/files/348/nxlog-ce-3.0.2284.msi
and
https://nxlog.co/system/files/products/files/348/nxlog-ce-2.11.2190.msi
are the new file locations

[2022-06-08 19:02] xzenor commented on #1899
@twangboy Could you check the pending PR's again please?

[2022-09-08 10:51] speedytom opened #1956 "7z.sls and vlc.sls"
<pre>
root@salt:~# salt win-holesovska pkg.refresh_db
win-holesovska:
    ERROR: Error occurred while generating repo db. Additional info follows:

    failed:
        2
    failed_list:
        ----------
        salt-winrepo-ng\7zip.sls:
            - Failed to compile, Jinja syntax error: expected token ',', got ':'; line 34

              ---
              [...]
              # ~~~~~~~~~~~~~~~

[2022-09-08 10:53] speedytom commented on #1956
Fixed:
<pre>
diff --git a/7zip.sls b/7zip.sls
index 3c4784d..3ccf3f8 100644
--- a/7zip.sls
+++ b/7zip.sls
@@ -31,7 +31,7 @@
 # An uninstall only definition will remain here so the packages will show up
 # correctly in `pkg.list_pkgs` and to allow for removal using `pkg.remove`
 # ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-{% set versions = [ '18':['06', '05', '0

[2022-09-08 10:54] speedytom commented on #1956
I can push push diff to your master or another branch.

[2022-09-08 12:40] TheBigBear commented on #1956
@speedytom  this has been fixed soon after the bad versions were merged. But the fixing PR has not yet been merged. see https://github.com/saltstack/salt-winrepo-ng/pull/1949
Thanks.
@twangboy can you please merge some of these outstanding PRs to avodi others also fixing what has already been fixed?

[2022-09-08 12:51] speedytom commented on #1956
Thanks for quick response.

[2022-11-10 20:40] jlrcontegix opened #1971 "Issues updating packages that use 'latest' versioning"
When attempting to install the latest version of Chrome, for example, the installer is not being executed and the existing version remains.  Perhaps I am misinterpreting expected behavior, and assume for packages that use the 'latest' versioning scheme, the installer will be executed each time.

With 3005.1 this does not seem to be the case:

Current version of Chrome installed
[code]
Latest versi